
/* Small Devices, Tablets */
@media only screen and (max-width : 980px) {
    /* PORTFOLIO SECTION */
    #shotsByPlayerId li{width: 47%;}
    #shotsByPlayerId li:first-child{width: 97%;}

    /*COLLUPSABLE NAVIGATION MENU*/
    .navbar-header {float: none;}
    .navbar-left,.navbar-right {float: none !important;}
    .navbar-toggle {display: block;}
    .navbar-collapse.collapse {display: none!important;}
	.navbar-nav>li {
        float: none;
        padding-left: 30px;
        overflow: hidden;
    }
    .collapse.in{display:block !important;}
}


/* Mobile Devices */
@media only screen and (max-width : 640px) {

    h2 {font-size: 1.9em;}
    h3{font-size: 1.5em}
    h4{font-size: 1.1em;}

    /*Portfolio*/
    #shotsByPlayerId li:first-child{width: 95%;}
    #shotsByPlayerId li {width: 95%;}

    /*Footer*/
    .footerlinks li{display: none;}
}

/* Smaller Mobile Devices */
@media only screen and (max-width : 480px) {
    .footersocial li{font-size: 1.5em}
}

