<footer>
    <div class="container">

        <div class="copyright"><!-- FOOTER COPYRIGHT START -->
            <p>A simple gallery of all the 3rd party octopress themes listed on <a href="https://github.com/imathis/octopress/wiki/3rd-Party-Octopress-Themes">the Octopress wiki pages</a>.</p>
            <p>The theme is stripped off from <a href="https://github.com/srizon/Drifolio-Bootstrap"> Drifolio-Bootstrap</a>.</p>
        </div><!-- FOOTER COPYRIGHT END -->

     </div>
</footer><!-- FOOTER END -->
