<div id="preloader">
    <div id="status">
        <div class="loadicon icon-anchor wow tada infinite" data-wow-duration="8s"></div>
    </div>
</div>

<div class="github-fork-ribbon-wrapper right">
    <div class="github-fork-ribbon">
        <a href="https://github.com/octopressthemes/octopressthemes.github.io">Fork me on GitHub</a>
    </div>
</div>

<header>
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand">
          <span class="brandname">3rd party Octopress themes</span>
        </a>
      </div>
    </div>
  </nav>
</header>
